body {
    text-align: center;
    font-family: Helvetica, sans-serif
}

h1 {
    font-size: 3rem;
    color: #1c1c1c;
}

/* botões */

#buttons-container button {
    border: none;
    padding: 1em;
    margin: 0 10px;
    background-color: #a9a9a9;
    color: #1c1c1c;
    border-radius: 1em;
    font-weight: bold;
}

button:hover {
    transform: translateY(-0.2em);
    transition: 0.3s;
}

/* jogo */

#container {
    display: flex;
    width: 300px;
    margin: 0; 
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
} 

.box {
    height: 100px;
    border: 5px solid #1c1c1c;
    box-sizing: border-box;
    flex: 1 1 33%;
}

 #block-1, #block-2, #block-3 {
    border-top: none;
}

#block-1, #block-4, #block-7 {
    border-left: none;
}

#block-7, #block-8, #block-9 {
    border-bottom: none;
}

#block-3, #block-6, #block-9 {
    border-right: none;
}

/* simbolos */

.x {
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
}

.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}

/* class hide */

.hide {
    display: none !important;
} 

/* placar */

#scoreboard-container {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.score-box {
    margin: 0 20px;
}

#x-scoreboard {
    color: red;
    margin-right: 3px;
}

#o-scoreboard {
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 2px solid green;
    border-radius: 50%; 
    margin-right: 3px;
}

/* msg de vitoria */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: #1c1c1c;
    color:#a9a9a9;
    padding: 20px;
}

/* botão de voltar */
#return-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 3em;
    width: 7em;
    font-size: 1em;
    padding: 0;
    border: none;
    background-color: #a9a9a9;
    color: #1c1c1c;
    font-weight: bold;
    border-radius: 1em;
}